In [14]:
import pandas as pd
import numpy as  np
import random as rd
import matplotlib.pyplot as plt
from scipy.stats import norm

In [5]:
data = pd.read_csv('commerce_data.csv',index_col='Date')
data.head()

                 Open       High        Low      Close  Adj Close   Volume
Date
2020-06-19  59.314285  59.428570  57.076191  58.885715  57.968872  1419810
2020-06-22  58.619049  60.390476  57.457142  57.952381  57.050068   328335
2020-06-23  58.847618  59.076191  57.009525  57.057144  56.168774   382620
2020-06-24  56.761906  56.761906  54.723808  55.038094  54.181156   456750
2020-06-25  54.847618  56.723808  54.542858  56.590477  55.709370   397740

In [6]:
data['log_return'] = np.log(data['Close'].shift(-1)/data['Close'])

In [18]:
z_lower = norm.ppf(0.1)
z_upper = norm.ppf(0.9)
sample_mean = data['log_return'].mean()
sample_std = data['log_return'].std(ddof=1)/(data.shape[0]**0.5)

In [24]:
ci = (sample_mean+(sample_std*z_lower), sample_mean+(sample_std*z_upper))

In [26]:
print(ci)
print(sample_mean)

(-0.0006174680023212311, 0.0023385463262715392)
0.0008605391619751541